a {
    text-decoration: none;
    color: #0A2647;
    cursor: pointer;
}

a:hover {
    color: white;
    font-size: larger;
}

body {
    position: relative;
    height: 100%;
    margin: 100px 0 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #e2e7e3, rgb(0, 55, 104)); 
    padding-bottom: 100px; 
    color: #0A2647;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0A2647;
    text-align: center;
    height: 3%;
    padding-top: 1%;
}



html {
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    color: #0A2647
}

h1 {
    font-family: "Sriracha", serif;
    margin-bottom: 5px;
}

h2 {
    font-family: "Aleo", serif;
}

h4 {
    font-weight: normal;
    text-align: left;
}

header {
    position: fixed;
    background-color: #e2e7e3;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 1px 1px 10px 1px #0A2647;
}

hr {
    width: 30%;
    margin: 50px auto;
    border-style: dotted none none;
    border-width: 5px;
    border-color: #496c93;
}

li {
    list-style: none;
    font-size: 1.5vw;
    font-family: "Aleo", serif;
    margin: auto 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    height: 80px;
}

p, li {
    font-size: 1.25vw;
    font-family: "Open Sans", sans-serif;
    color: #0A2647;
}

strong {
    font-weight: 700;
    font-size: 30px;
}

.footerLight {
    box-shadow: 1px 1px 5px 5px white !important;
}

.menu {
    width: 50%;
    display: flex;
}

.menu li {
    margin: auto;
}

/* Contacts */
.contacts {
    margin: 0 auto;
    text-align: center;
}

.contacts div {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media, .social-media li, .contact-information li {
    margin: auto;
    text-align: center;
    font-size: 25px;
}

/* EXPERIENCE */
/* EDUCATION */

.courseDescription {
    margin: auto;
    margin-top: 20px;
    font-size: large;
    text-align: left;
}

.education div h5, h4, p{
    margin: 0;
}

.educationProjects{
    margin: 20px auto 0;
    padding: 0;
    text-align: left;
}

.educationProjects > li {
    margin: 0;
    text-align: left;
}

.experience {
    margin: auto;
    text-align: center;
    
}

.extraSmallLogo {
    width: 100px;
}

.gaSchoolDescription {
    position: relative;
    text-align: left;
    margin-right: 50%;
    right: 0px;
    width: 70%;
}

.gaSchoolLogo {
    width: 30%;
    float: right;
}

.github, .download, .logo {
    width: 50px;
}

.schoolDescription {
    position: relative;
    text-align: left;
    margin-left: 50%;
    right: 0px;
    width: 60%;
}

.schoolLogo {
    width: 50%;
    float: left;
}

.schoolName {
    margin: auto;
    left: 40%;
    top: 5%;
}

.schoolTitle {
    width: 80%;
    margin: auto;
}

.smallLogo {
    width: 70px;
}

.sti, .asu{
    margin-top: 50px;
}

.stiSchoolLogo {
    width: 45%;
    float: left;
}

.technologies {
    display: flex;
    justify-content: start;
}

.technologyContainer {
    margin-top: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.technologyContainer  > p {
    font-size: 1vw;
}

.yearGraduated{
    font-size: medium;
}

/* HOME PAGE */
.codingAnimated {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 50%;
    z-index: -1;
}

.copyright {
    color: rgba(195, 195, 195, 0.433)
}

.introduction {
    width: 50%;
    margin: auto;
    font-size: 2vw;
    text-align: center;
    font-family: "Sriracha", serif;
}

.name {
    margin-bottom: 50px;
    font-size: 2.5vw;
}

#profileImage {
    width: 20%;
    border-radius: 100%;
    margin-top: 50px;
    position: absolute;
    left: 60%;
    top: 120%;

}

/* LOGO */
#logo {
    margin-left: -110px;
    margin-top: -90px;
}

/* Resume */
.resume div{
    margin: 0 auto;
    border: 1px solid black;
    width: 600px;
    padding: 10px 20px 10px 20px;
}

.resume h3 {
    font-size: 20px;
    margin: 0;
}
.resume h4 {
    font-size: 15px;
    margin: 0;
}

.resume h5 {
    font-size: 20px;
    margin: 10px;
}

.resume h6{
    text-align: start;
    font-size: 12px;
    margin: 10px;
}

.resume-list{
    text-align: start;
    font-size: 10px;
    margin: 10px;
}

.resume-list li {
    /* list-style: disclosure-closed; */
    list-style: "☞";
    margin: 5px;
}

.resume p {
    text-align: start;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-duration: 2s;
    visibility: visible;
}
  
.slideDown {
    animation-name: slideDown;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-duration: 2s;
    visibility: hidden;
}

@keyframes slideDown {
    0% {
        opacity: 1;
        transform: translateY(0%);
    } 
    100% {
        opacity: 0;
        transform: translateY(70%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Flexbox */

/* PROJECTS */

.left, .right{
    cursor: pointer;
    height: 20px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-button {
    margin: 0 auto;
}

.project-image > img{
    width: 700px !important;
    height: 500px !important;
}



/* Titles */
.title {
    font-size: 35px;
    text-align: center;
}