* {
    font-family: "Fira Code";
}

html {
    min-height: 100%;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, aliceblue, rgb(0, 55, 104)); 
    padding-bottom: 100px; 
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    height: 80px;
}

li {
    list-style: none;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;

}

strong {
    font-weight: 700;
    font-size: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    width: 400px;
    display: flex;
}

.menu li {
    margin: auto;
}

/* LOGO */

#logo {
    scale: 200%;
    clip: rect(50px, 50px, 50px, 50px);
}

/* Titles */
.title {
    font-size: 35px;
    text-align: center;
}

/* Contacts */
.contacts {
    margin: 0 auto;
    text-align: center;
}
.contacts div {
    display: flex;
    justify-content: center;
}
.social-media, .social-media li, .contact-information li {
    
    text-align: center;
    font-size: 25px;
}

/* Resume */
.resume div{
    margin: 0 auto;
    border: 1px solid black;
    width: 600px;
    padding: 10px 20px 10px 20px;
}

.resume h1 {
    font-size: 25px;
    margin: 0;
}
.resume h3 {
    font-size: 20px;
    margin: 0;
}
.resume h4 {
    font-size: 15px;
    margin: 0;
}

.resume h5 {
    font-size: 20px;
    margin: 10px;
}

.resume h6{
    text-align: start;
    font-size: 12px;
    margin: 10px;
}

.resume p {
    text-align: start;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.resume-list li {
    /* list-style: disclosure-closed; */
    list-style: "☞";
    margin: 5px;
}

.resume-list{
    text-align: start;
    font-size: 10px;
    margin: 10px;
}


.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-duration: 2s;
    visibility: visible;
  }
  

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .slideDown {
    animation-name: slideDown;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-duration: 2s;
  }

  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateY(0%);
    } 
    100% {
        opacity: 0;
        transform: translateY(70%);
    }
  }

  

  /* Flexbox */
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-button {
    margin: 0 auto;
}

.project-image img{
    width: 700px !important;
    height: 500px !important;
}